/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
.welcome-text {
	font-size: 2rem;
	margin-top: 5%;
}

.contac-form button {
	width: 30%;
    font-size: 1rem;
}

.modal-dialog {
    max-width: 90%;
}

.modal-controls .btn {
	width: 30%;
    font-size: 1rem;
}

} /* Final do estilo para tablets */

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {

body {
	padding-bottom: 4%;
}

.my-navbar {
	background-color: #592A48;
	border-bottom: none;
}


.welcome-text {
	font-size: 2rem;
	margin-top: 5%;
}

.modal-dialog {
    max-width: 100%;
}

.modal-content p {
	font-size: .75rem;
}

.modal-controls .btn {
	width: 35%;
    font-size: 1rem;
    height: 2rem;
}


.contact-form button {
	width: 30%;
    font-size: 1rem;
	height: 2rem;
    background-color: #ebdada;
    border: 2px solid #e6d1d1;
}

.progress-count span {
	font-size: 1rem;
}



} /* Final do estilo para smartphone
