/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
.welcome-text {
	font-size: 2rem;
	margin-top: 5%;
}

} /* Final do estilo para tablets */

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {

.welcome-text {
	font-size: 2rem;
	margin-top: 5%;
}



} /* Final do estilo para smartphone
