.home-bg {
    width: 100%;
    height: 100vh;
    background: url(../img/home.jpg) no-repeat center;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

body, p, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    font-family: 'Roboto', sans-serif;
    color: #302e3e;
}

body {
    min-height: 100vh;
    background-color: #d1abac;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?2gneoq');
  src:  url('../fonts/icons/icomoon.eot?2gneoq#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?2gneoq') format('truetype'),
    url('../fonts/icons/icomoon.woff?2gneoq') format('woff'),
    url('../fonts/icons/icomoon.svg?2gneoq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #302e3e;
    font-size: 2rem;
    transition: all .5s ease;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-curious:before {
  content: "\e985";
}
.icon-quick:before {
  content: "\e9a5";
}
.icon-focus:before {
  content: "\e9b3";
}
.icon-passion:before {
  content: "\e9da";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-site:before {
  content: "\e9ca";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-php:before {
  content: "\e900";
}
.icon-css:before {
  content: "\e901";
}
.icon-javascript:before {
  content: "\e902";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-menu:before {
  content: "\e9bd";
}


.link {
    font-size: 3rem;
    color: #302e3e;
}

.welcome-text::before {
    content: "";
    display: block;
	height: 3px;
	width: 100px;
	background: #302e3e;
    margin-bottom: 20px;
}

.welcome-text {
    margin-top: 10%;
}

.highlight {
    color: #a44c8f;
}
.bold {
    font-weight: 600;
}

a:hover, .link-selected, a:active, .link-selected {
    color: #45139E;
    text-decoration: none;
}

/* About page */

.profile-picture {
    max-width: 200px;
    max-height: 200px;
}

.technologies {
    margin-top: 3%;
}

.progress-count {
    background-color: #806c75;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
}

.progress-count span {
    background-color: #a44c8f;
    font-size: 1.1rem;
    width: 20%;
    justify-content: center;
}


.progress-bar {
    background-color: #302e3e;
}

.strength, .techs {
    border: 4px solid #302e3e;
}
.strength:hover, .techs:hover, .icon-selected, .network a span:hover, .strength:active, .techs:active, .icon-selected, .network a span:active {
    color: #45139E;
    border-color: #45139E;
    text-decoration: none;
}

.title-inside {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}

/* Projects page */
.network a span {
    font-size: 2.5rem;
}

/* Contact page */

.contact-bg {
    width: 100%;
    height: 100vh;
    background: url(../img/contact.jpg) no-repeat center;
    background-size: cover;
}

.contact-form input{
    width: 100%;
    height: 2.25rem;
    margin-bottom: 10px;
    background-color: #ebdada;
    border: 2px solid #e6d1d1;
    padding: 5px 5px;
    color: #302e3e;
    font-size: 1rem;
}

.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: #ebdada;
    border: 2px solid #e6d1d1;
    padding: 5px 5px;
    color: #302e3e;
    font-size: 1rem;
}

.contact-form button {
    width: 30%;
    font-size: 1.2rem;
    float: right;
    text-transform: uppercase;
    height: 2.5rem;
}

.contact-form button:hover, .contact-form button:active {
    background-color: #45139E;
    color: #ebdada;
    transition: all .5s;
}

/* Project page */
.projects {
    margin-top: 10px;
}


.project {
    width: 100%;
    background-color: #D1ABAC;
}

.project-image {
    background-size: cover;
    max-width:100%;
    height: 320px;
}

.project-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  max-width:100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .project-image {
    opacity: 0
}
.project:hover .project-info {
    opacity: 1;
}




.project-info {
    padding-top: 15%;
    background-color: #d1abac;
}

.project-info h1 {
    font-size: 1.5rem;
}

.project-info button {
    margin-top: 5%;
    font-size: 1.2rem;
    background-color: #ebdada;
    padding: 3% 15%;
    border: 0px solid #a44c8f;
    text-transform: uppercase;
}

.project-info button:hover, .project-info button:active {
    cursor: pointer;
    background-color: #45139E;
    color: #ebdada;
}
nav {
    position: absolute;
    top: 0;
    width: 100%;
}
/* Style navbar */
.my-navbar, .my-navbar-controllers {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 15px 10px;
}

.nav-item a:hover {
    color: #CE6659;
    transition: all ease .5s;
}


.my-navbar-controllers, .my-navbar  {
    background-color: #302e3e;
    border-bottom: 3px solid #917980;
}

.my-navbar ul {
    padding: .5rem 1rem;
}
.nav-link {
    color: #EBDADA;
}
.active .nav-link {
    color: #CE6659;
}
.navbar-toggler span {
    color: #EBDADA;
}

.navbar-controllers {
    border-top: 3px solid #917980;
}


/* Modal styles */
.modal-content {
    background-color: #D1ABAC;
}

.modal-dialog .welcome-text {
    margin-top: 5%;
}

.modal-dialog {
    max-width: 50%;
}
.modal-techs {
    height: 180px;
}

.modal-controls .close-modal {
    float: right;
    color: #302e3e;
    font-size: 2.5rem;
    border: 0px solid #000;
    background-color: inherit;
    line-height: 1;
    opacity: .5;
}
.modal-controls .close-modal:hover, .modal-controls .close-modal:active  {
    cursor: pointer;
    opacity: .8;
}

.modal-controls .btn {
    width: 120px;
    background-color: #EBDADA;
    color: #302e3e;
    font-size: 1.2rem;
    text-transform: uppercase;
    height: 2.5rem;
}

.modal-controls .btn:hover, .modal-controls .btn:active {
    background-color: #45139E;
    color: #ebdada;
}
/* Settings opacity of elements from about page to 0 for the animations */
.accordion-about, #projects, #about-me, #welcome-div, #home-div, #arrow-up, #arrow-down, .progress-count, #profile-picture, #project-company, #logo-picture, #network, #welcome-div, #contact-div, #contact-form {
    opacity: 0;
}


/* Animações */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}


@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
}


@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}



@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}



@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}


@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
}
