{% extends "home/layout.html" %}
{% load static %}
{% block title %}
	Projects
{% endblock %}

{% block js %}
{% endblock %}
{% block body %}
	<div style=" background-color: #d1abac;">
		<section class="container">
			<div class="row">
				<div class="col-6">
					<div class="d-flex justify-content-between">
						<h1 style="align-self: center;" class="h4 mt-3 animated fadeInDown">Contact</h1>
						<div style="align-self: center;" class="h4 mt-3 animated fadeInDown">
							<a title="Home" href="{% url 'index' %}" class=" link">&bull;</a>
							<a title="About" href="{% url 'about' %}" class="link">&bull;</a>
							<a title="Projects" href="{% url 'projects' %}" class="link">&bull;</a>
							<a title="Contact" href="{% url 'contact' %}" class="link link-selected">&bull;</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 ">
					<div class="project-image">
						<img class="project-img" src="{% static 'projects/img/vivace/logo.jpg' %}" alt="">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

			</div>
		</section>
	</div>
{% endblock %}
