{% extends "home/layout.html" %}
{% load static %}
{% block title %}
	Projects
{% endblock %}

{% block js %}
{% endblock %}
{% block body %}
	<div style=" background-color: #d1abac;">
		<section class="container"  style="height: 100vh;">
			<div class="row">
				<div class="col-6">
					<div class="d-flex justify-content-between">
						<h1 style="align-self: center;" class="h4 mt-3 animated fadeInDown">Projects</h1>
						<div style="align-self: center;" class="h4 mt-3 animated fadeInDown">
							<a title="Home" href="{% url 'index' %}" class=" link">&bull;</a>
							<a title="About" href="{% url 'about' %}" class="link">&bull;</a>
							<a title="Projects" href="{% url 'projects' %}" class="link link-selected">&bull;</a>
							<a title="Contact" href="{% url 'contact' %}" class="link">&bull;</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row projects">
				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/vivace.jpg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Real project developed to Engenharia Vivace an Electrical Engineering company.</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/kroz.jpg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Kroz</h1>
						<p><span class="highlight bold">Fake project</span>, developed in a course of typography.</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/kakuna.jpg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Kakuna Engineering</h1>
						<p><span class="highlight bold">Fake project</span>, developed in a course of typography.</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/rest.jpg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>
				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/digital-century.jpg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/flex.jpg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/caravan.svg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>

				<div class="project col-3 p-0">
					<div class="project-image" style="width:100%; height: 280px;     background: url({% static 'projects/img/integrait.jpg' %}) no-repeat center;">
					</div>
					<div class="project-info">
				    	<h1>Engenharia Vivace</h1>
						<p>Engenharia Vivace is an Electrical Engineering company, founded in 2015...</p>
						<button class="rounded" type="button" name="button">Know More</button>
				  	</div>
				</div>


			</div>
		</section>
	</div>
{% endblock %}
