{% extends "home/layout.html" %}
{% load static %}
{% load helpers %}
{% block title %}
	Projects
{% endblock %}

{% block js %}
	<script src="{% static 'projects/js/projects.js' %}" type="text/javascript"></script>
{% endblock %}
{% block body %}
	<div>
		<section class="container">

			<div class="row">
				<div class="col-12 col-lg-6  mt-5 pt-4">
					<div class="d-flex justify-content-between">
						<h1 style="align-self: center;" class="h4 mt-3 animated fadeInDown">Projects</h1>
					</div>
				</div>
			</div>

			<div id="projects" class="row projects animated">

				{% for project in projects %}
				<div class="project col-lg-4 col-sm-12 col-md-6 p-0">
					<div class="project-image" style="background: url({{project.background_photo.url}}) no-repeat center;">
					</div>

					<!-- Info about project that stays hide until user hover image -->
					<div class="project-info col-lg-4 col-sm-12 col-md-6 col-lg-4 col-sm-12 col-md-6">
				    	<h1>{{project.name}}</h1>
						<p>{{project.description_company}}</p>
						<button class="rounded" type="button" name="button" data-toggle="modal" data-target="#{{project.name|getName}}Modal">Know More</button>
				  	</div>
				</div>
				{% endfor %}
			</div>


			{% for project in projects %}
			<!-- Modal -->
			<div class="modal fade" id="{{project.name|getName}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{project.name|getName}}Label" aria-hidden="true">
			   <div class="modal-dialog" role="document">
				   <div class="modal-content">
					   <div class="container">
						   <div class="row">
							   <div class="col-12">
								   <div>
										<h1 class="welcome-text">{{project.name}}</h1>
										<p>{{project.description_project}}</p>
									</div>
								<div class="modal-techs">
								<div id="accordion{{project.name|getName}}">
									<div class="mt-xl-5 mt-4 panel-techs">
										{% for tech in project.techs.all %}
											<a id="heading{{tech.name_icon}}" href="#" title="{{tech.name_icon}}" data-toggle="collapse" data-target="#{{tech.name_icon}}" aria-expanded="true" aria-controls="{{tech.name_icon}}"><span class="accordion-toggle techs shadow px-xl-2 py-xl-2  px-2 py-2 mr-lg-2 mr-sm-1 rounded icon-{{tech.name_icon}} {{tech.special_class|getFirstString}}" data-name="amazon"></span></a>
										{% endfor %}
									</div>

									<!-- Contents of accordion -->
									<div class="mt-3">
										{% for tech in project.techs.all %}
											<div id="{{tech.name_icon}}" class="collapse {{tech.special_class|getSecondString}}" aria-labelledby="heading{{tech.name_icon}}" data-parent="#accordion{{project.name|getName}}">
												<h1 class="title-inside">{{tech.title}}</h1>
												<p>{{tech.description}}</p>
											</div>
										{% endfor %}
									</div>
								</div>
								</div>
								<div class="modal-controls mb-4">
									<a href="{{project.link_for_project_site}}" target="_blank" class="btn">VIEW SITE</a>

									<button class=" close-modal" type="button" name="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
							   </div>

						   </div>
					   </div>
				   </div>
			   </div>
			</div>
			{% endfor %}

		</section>
	</div>
{% endblock %}
