{% extends "home/layout.html" %}
{% load i18n %}
{% load helpers %}
{% load static %}
{% block title %}
	{% trans "About" %}
{% endblock %}

{% block js %}
	<script src="{% static 'about/js/about.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
	<div>
		<section class="container">
			<div class="row pt-4">
				<div class="col-lg-6 pt-5 mb-lg-3">
					<div class="d-flex justify-content-between">
						<h1 style="align-self: center;" class="h4 mt-3 animated fadeInDown">{% trans "About" %}</h1>
					</div>

					<div id="about-me" class="animated">
						<h1 class="welcome-text"><span class="highlight">{% trans "Who" %}</span> {% trans "I'm" %}?</h1>
						<p>{% trans "Software developer with experience in web technologies, development of loyalty programs, websites and android mobile applications. Passionate about algorithms and artificial intelligence for problem solving. Regular participant in hackathon and programming marathons." %}</p>
					</div>

					<div id="accordion" class="animated accordion-about">
						<div class="mt-xl-5 mt-4 panel-strengths">
						{% for strength in strengths %}
							<a id="heading{{strength.name_icon}}" href="#" title="{{strength.title}}" data-toggle="collapse" data-target="#{{strength.name_icon}}" aria-expanded="true" aria-controls="{{strength.name_icon}}"><span class="accordion-toggle {{strength.special_class|getFirstString}} strength shadow py-xl-2 px-2 py-2 mr-lg-3 rounded icon-{{strength.name_icon}}" data-name="{{strength.name_icon}}"></span></a>
						{% endfor %}
						</div>

						<div class="mt-3">
						{% for strength in strengths %}
						  	<div id="{{strength.name_icon}}" class="collapse {{strength.special_class|getSecondString}}" aria-labelledby="heading{{strength.name_icon}}" data-parent="#accordion">
								<h1 class="title-inside">{{strength.title}}</h1>
								<p>{{strength.description}}</p>
						  	</div>
						{% endfor %}
						</div>
					</div>
				</div>

				<div class="col-lg-6 pt-5">
					<div id="profile-picture" class="row animated">
						<div class="col-12 mt-3">
							<img class="border rounded-circle profile-picture mx-auto d-block" src="{% static 'about/img/profile-picture.jpg' %}" alt="">
						</div>

						<div class="col-12 technologies">

							<div class="progress-count animated rounded">
								 <span class="px-md-2 px-1">Python</span><div class="progress-bar" role="progressbar" style="width: 56%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
							</div>

							<div class="progress-count animated rounded my-3 ">
								 <span class="px-md-2 px-1">Django</span><div class="progress-bar" role="progressbar" style="width: 48%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>

							</div>

							<div class="progress-count animated rounded my-3">
								 <span class="px-md-2 px-1">C#</span><div class="progress-bar" role="progressbar" style="width: 48%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
							</div>

							<div class="progress-count animated rounded my-3">
								 <span class="px-md-2 px-1">.NET</span><div class="progress-bar" role="progressbar" style="width: 52%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
							</div>

							<div class="progress-count animated rounded my-3">
								 <span class="px-md-2 px-1">JS</span><div class="progress-bar" role="progressbar" style="width: 48%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
							</div>

							<div class="progress-count animated rounded my-3">
								 <span class="px-md-2 px-1">Scrum</span><div class="progress-bar" role="progressbar" style="width: 52%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
							</div>

							<div class="progress-count animated rounded my-3">
								 <span class="px-md-2 px-1">AWS</span><div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
							</div>
							<div class="progress-count animated rounded my-3">
								 <span class="px-md-2 px-1">Travis</span><div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</div>
{% endblock %}
